page-login {

    ion-navbar{
        height: 60px;
    }
    #formcss{
        margin: 30px 10px;
    }
    button{
        width: 45%;
    }
    #buttons{
        padding-left: 20px;
        padding-top: 10px;
    }
    
}